# emacs backup files
*~
*#

elisp-objects
elpa
projectile.cache
projectile-bookmarks.eld
recentf
tramp
.org-id-locations
bookmarks
eww-bookmarks
history
image-dired
emms

# eshell
eshell/history
eshell/lastdir