.lsp-session-v1
.org-id-locations
bookmarks
elisp-objects
elpa
emms
emojis
eww-bookmarks
games
history
image-dired
projectile-bookmarks.eld
projectile.cache
recentf
request
straight
tramp

# eshell
eshell/history
eshell/lastdir
