elisp-objects
elpa
projectile.cache
projectile-bookmarks.eld
recentf
tramp
.org-id-locations
bookmarks
eww-bookmarks
history
image-dired
emms
emojis
request
games

# eshell
eshell/history
eshell/lastdir